@import 'global.scss';

/*
**
** CARDS
**
*/

.playlist-card {
  cursor: pointer;
  border-radius: 0 0 $border-radius $border-radius;
  width: 200px;
  height: 260px;
  margin: auto;
  text-align: center;
  background-color: $green-color;
  color: $white-color;
}

.track-card {
  border-radius: $border-radius;
  width: 304px;
  height: 160px;
  margin: auto;
  text-align: center;
}

.top-list-card {
  border-radius: $border-radius;
  border: 2px solid $green-color;
  background-color: $green-color;
  display: inline-block;
}

.no-bg-color {
  background-color: $white-color !important;
}

.top-list-title {
  color: $white-color;
}

.top-list-footer {
  border-radius: 0 0 $border-radius $border-radius;
  color: $green-color;
  text-align: right;
}
