@import 'global.scss';

/*
**
** CARDS
**
*/

.playlist-card {
  cursor: pointer;
  border-radius: 0 0 $border-radius $border-radius;
  width: 200px;
  height: 260px;
  margin: auto;
  text-align: center;
  background-color: $green-color;
  color: $white-color;
}

.track-card {
  border-radius: $border-radius;
  width: 304px;
  height: 160px;
  margin: auto;
  text-align: center;
}

.top-list-card {
  border-radius: $border-radius;
  border: 2px solid $green-color;
  background-color: $green-color;
  display: inline-block;
}

.no-bg-color {
  background-color: $white-color !important;
}

.top-list-title {
  color: $white-color;
}

.top-list-footer {
  border-radius: 0 0 $border-radius $border-radius;
  color: $green-color;
}

/*
**
** MODAL
**
*/

.modal-backdrop {
  position: fixed;
  z-index: 1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  width: 75vw;
  background: $white-color;
  box-shadow: 2px 2px 20px 1px;
  overflow-x: auto;
  display: flex;
  flex-direction: column;
  border-radius: $border-radius;
}

.modal-header {
  position: relative;
  background-color: $green-color;
  color: $white-color;
}

.modal-content {
  max-height: 75vh;
  position: relative;
  overflow-y: scroll;
}

.modal-footer {
  flex-direction: column;
}
