/*
**
** CONFIG
**
*/

/* FONTS */
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');

/* COLORS */
$green-color: #218f51;
$white-color: #fff;
$black-color: #000;
$red-color: #b64646;
$blue-color: #309fb1;
$brown-color: #b45f06;
$border-radius: 25px;
$button-padding: 16px;

.green-color {
  color: $green-color;
}

.white-color {
  color: $white-color;
}

.blue-color {
  color: $blue-color;
}

.brown-color {
  color: $brown-color;
}

/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Ubuntu', sans-serif;
}

/* DEBUG */
.debug-red {
  border: solid 1px red;
}

.debug-blue {
  border: solid 1px blue;
}

/*
**
** STYLE
**
*/

/* BUTTON */
.clickable {
  cursor: pointer;
}

@mixin button-ghost($color) {
  border: 2px solid $color;

  &:hover {
    background-color: $color;
    color: $white-color;
  }

  &:active {
    background-color: darken($color, 10);
  }
}

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  border-radius: $radius;
}

.btn {
  cursor: pointer;
  background-color: transparent;
  outline: 0;
  transition: background-color 0.6s ease-out, color 0.6s;
}

.btn-round {
  border: 0;
  @include border-radius($border-radius);
}

.btn-lg {
  padding: $button-padding/1.5 $button-padding $button-padding/1.5
    $button-padding;
  font-size: 1.2em;
}

.btn-md {
  padding: $button-padding/2 $button-padding $button-padding/2
    $button-padding;
  font-size: 1em;
}

.btn-sm {
  padding: $button-padding/2.5 $button-padding $button-padding/2.5
    $button-padding;
  font-size: 0.8em;
}

.btn-ghost-green {
  @include button-ghost($green-color);
  color: $green-color;
}

.btn-ghost-red {
  @include button-ghost($red-color);
  color: $red-color;
}

/* TEXT */
.banner-title {
  font-size: 30px;
  color: $green-color;
}

.header-text {
  font-size: 20px;
  color: $green-color;
}

.header-subtext {
  font-size: 18px;
}

.text-14 {
  font-size: 14px;
}

.text-18 {
  font-size: 18px;
}

.text-20 {
  font-size: 20px;
}

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 400px;
  background-color: black;
  color: #fff;
  border-radius: 6px;
  padding: 10px;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  bottom: 100%;
  left: 50%;
  margin-left: -60px;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}
